<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raintype.mapper.UserMapper">
    <select id="login" statementType="CALLABLE" resultType="com.raintype.domain.UserVO">
        {
            call sp_user_login( #{userid}, #{userpw} )
        }
    </select>

</mapper>